.button {
    background-color: azure;
    border: 0px 2px solid black;
    font-size: 1.6em;
    outline: none;  
}

.button:active {
    background-color:lightblue;
    border: 2px solid black;
}

.button.twocolumns {
    grid-column: span 2;
}

.button.treecolumns {
    grid-column: span 3;
}

.button.operators {
    background-color: orange;
    color: white;
}

.button.operators:active {
    background-color: rgba(255, 165, 0, 0.7);
}