body {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,6,90,1) 5%, rgba(14,9,124,1) 19%, rgba(0,212,255,1) 96%);
    text-align: center;
    font-size: 25px;
    color: white;
  }

